<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cinema">
	<select id="selectLocationName" parameterType="String" resultType="CinemaDTO">
		select location_name from cinema where movie_idx=(select movieIdx from movie where name=#{name}) group by location_name 
	</select>
	<select id="selectRoomLocation" parameterType="hashmap" resultType="CinemaDTO">
		select * from cinema where movie_idx=(select movieIdx from movie where name=#{name}) and location_name=#{location_name}
	</select>
	<select id="selectMovieNameByIdx" parameterType="int" resultType="String">
		select name from movie where movieIdx=#{movieIdx}
	</select>
</mapper>