<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timetable">
	<select id="selectMovieName" parameterType="hashmap" resultType="TimeTableDTO">
		select * from timetable where movie_idx=#{movie_idx} and location_name=#{location_name} and room_location=#{room_location} and to_char(start_time,'MM-dd')=#{start_time} order by room_location,start_time
	</select>
	<!-- 해당 극장의 영화번호와 상영관(Room_location) 구하는 메서드 -->
	<select id="selectTheaterFirst" parameterType="String" resultType="TimeTableDTO">
		select movie_idx from timetable where location_name=#{location_name} group by movie_idx
	</select>
	<!-- 중복제거된 리스트에서 각 영화에 맞게 출력? -->
	<select id="selectTheaterSecond" parameterType="hashmap" resultType="TimeTableDTO">
		SELECT ROOM_LOCATION FROM TIMETABLE t WHERE LOCATION_NAME =#{location_name} AND MOVIE_IDX =#{movie_idx} GROUP BY ROOM_LOCATION order by room_location
	</select>
	
	<!-- 빠른예매 영화에 따른 시간 보여주기 -->
	<select id="selectTicketing" parameterType="hashmap" resultType="TimeTableDTO">
		SELECT * FROM TIMETABLE t WHERE MOVIE_IDX = (SELECT MOVIEIDX FROM movie WHERE name=#{movieName}) AND LOCATION_NAME =#{location_name} order by room_location
	</select>
</mapper>