@charset "UTF-8";
html{
    overflow-X: hidden;
}
.main-top{
    position: relative;
    width: 100%;
}
.main-top .inner-container{
    margin: auto;
    width: 1100px;
    margin-top: 100px;
    
}
.main-top .inner-container .inner{
    border: 3px solid #686571;
    border-radius: 10px;
    height: 315px;
    display: flex;
    position: relative;
    overflow: hidden;
}
.inner-container .left{
    width: 170px;
}
.inner-container .left .item{
    box-sizing: border-box;
    padding: 35px 20px;
    font-size: 1.2em;
    background-color: #f2f4f5;
    border: 1px solid #d8d9db;
    cursor: pointer;
}
.inner-container .special-img{
    width: 230px;
    height: 400px;
}
li{
    list-style-type: none;
}
.inner-container .left .item.selected{
    color: #351f66;
    background-color: white;
    font-size: 1.2em;
    border: none;
}
.inner-container .left .item:first-child.selected img{
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-tab-movie-on.png);
    background-repeat: no-repeat;
}
.inner-container .left .item:nth(2)-child.selected img{
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-tab-theater-on.png);
    background-repeat: no-repeat;
}
.inner-container .left .item:last-child.selected img{
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-tab-special-on.png);
    background-repeat: no-repeat;
}
.inner-container .item .middle{
    display: none;
}
.inner-container .item:first-child .middle{
    display: block;
}
.inner-container .middle{
    position: absolute;
    top:30px;
    width: 650px;
    left:200px;
    height: 100%;
}
.movie-list-content .right{
    display: none;
}
.movie-list-content .selected .right{
    display: block;
}
.special-list-content{
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
    color:black;
}
.special-list-content li{
    width: 30%;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}
.inner-container .middle .special-list-content .selected{
    color: #fff;
    font-weight: 400;
    background-color: #555;
}
.inner-container .middle .content{
    /* position: relative; */
    margin-top: 5px; 
    height: 70%;
    overflow-y: scroll;
}
.inner-container .content.special{
    position: absolute;
}
.inner-container .category-title span{
    padding-bottom: 7px;    
    color: #555;
    border-bottom: 1px solid #d8d9db;
    font-size: 14px;
}
.inner-container .category-title .selected{
    border-bottom: 1px solid #555;
}

.inner-container .middle .movie-list-content{
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
    color:black;

}
.inner-container .theater-content{
    position: absolute;
    display: none;
}
.inner-container .category-title.theater .selected>div{
    display: block;
}
.inner-container .middle .movie-list-content li{
    width: 30%;
    padding: 7px 5px;
    font-size: 14px;
    cursor: pointer;
}
.movie-list-content .right img{
    width: 220px;
}
.inner-container .middle .movie-list-content .selected{
    color: #fff;
    font-weight: 400;
    background-color: #555;
}
.inner-container .middle .theater-list-content .selected{
    color: #fff;
    font-weight: 400;
    background-color: #555;
}
.inner-container .theater-list-content{
    display: flex;
    width: 850px;
    height: 230px;
    overflow-y: scroll;
    flex-flow: row wrap;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}
.inner-container .theater-list-content li{
    width: 210px;
    font-size: 14px;
    padding: 7px 0;
}
.inner-container .right{
    position: absolute;
    top:-30px;
    right:-325px;
}
.inner-container .theater-list-content{
    color: #444;
}
.inner-container .special-img-content{ 
    position: absolute;
    right:100px;
    top:10px;
    color:white;
    font-size: 15px;
    font-weight: bold;
}
.inner-container .special-img-content p{
    padding: 10px 0;
}
.inner-container .special-img-content .special-img-title{
    font-size: 1.7em;
}
.inner-container .content.special{
    overflow: hidden;
}
.main-top .timetable{
    margin-top: 25px;
    border-top: 1px solid #d8d9db;    
    border-bottom: 1px solid #d8d9db;    
    display: flex;
}
.inner-container .category-title.special{
    width: 800px;
}
.inner-container .category-title.special div{
    display: none;
}
.inner-container .category-title.special .selected>div{
    display: block;
}


.main-top .timetable .item{
    width: 78px;
    height: 78px;
    font-size: 1.2em;
    cursor: pointer;
}
.main-top .timetable .item.selected{
	background-color: #ebeff3;
    border-bottom: 3px solid #503396;
}
.main-top .timetable .item div{
    height: 50%;
    text-align: center;
    line-height: 35px;
}
.main-top .timetable .item div:first-child{
    line-height: 45px;
}
.main-top .timetable .item .red{
    color:red;
}
.main-top .timetable .item .blue{
    color:blue;
}

.main-top .title span:last-child{
    color: #503396;
}
.main-top .title span:first-child{
    color: #037b94
}
.main-top .title{
    font-size: 27px;
    margin-top: 50px;
}
.main-top .movie-option{
    display: flex;
    column-gap: 20px;
    align-items: center;
    height: 50px;
    margin: 10px 0;
}
.main-top .movie-option div{
    display: inline;
    font-size: 15px;
}
.main-top .city-theater{
    display: flex;
}
.main-top .city-theater .item{
    width: 150px;
    border: 1px solid #d8d9db;
    box-sizing: border-box;
    font-size: 15px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
}
.main-top .city-theater .item.selected{
    color: #fff;
    background-color: #555;
}

.theater-location{
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    border-bottom: 1px solid #eaeaea;
}
.theater-location .title{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #eaeaea;
    font-weight: 550;
    font-size: 1.1em;
}
.theater-box{
    display: flex;
    width: 100%;
}
.theater-area{
    /* border-bottom: 1px solid #eaeaea; */
    display: flex;
}
.theater-type{
    width: 200px;
    height: 60px;
}
.theater-type{
    padding: 15px 0;
}
.theater-area .item{
    width: 110px;
    text-align: center;
    box-sizing: border-box;
    padding:15px 0;
    height: 65px;
    position: relative;
    cursor: pointer;
}
.theater-area .item:hover .item-wrapper{
    display: block;
}
.theater-location .item-wrapper{
    width: 100%;
    border: 1px solid #d8d9db;
    background-color: rgb(80,51,150);
    position: absolute;
    box-sizing: border-box;
    top:0;
    height: 100%;
    display: none;
    color:white;
    font-size: 1.1em;
    padding: 10px 0;
}
.theater-location .item-wrapper div{
    padding: 3px 0;	
}
.theater-area .item:first-child{
    display: table-cell;
    vertical-align: middle;
    background-color: #e3e8ec;
    text-align: center;
    padding : 20px 0;
    color: #444;
    font-weight: 700;
}
.theater-type .theater-name{
    font-size: 1.2em;
    color: #444;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1em;
}
.theater-type .chair{
    color: #666;
    margin-bottom: 10px;
    line-height: 1em;
}
.theater-area .item .start-time{
    font-size: 1.2em;
    color: #444;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 5px;
}
.theater-area .item .remain-chair{
    color: #01738b;
}